$btn_color: rgb(255, 217, 0);

.header {
    color: #ffffff;
    padding-bottom: 200px;
    .navbar-dark .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .header__row {
        padding-top: 100px;
        padding-bottom: 300px;
        .header__header {
            width: 60%;
            margin-bottom: 25px;
        }
        .header__description {
            font-size: 20px;
            width: 70%;
        }
    }
    .nav-item {
        &:not(:last-child) {
            margin-right: 100px;
        }
        .nav-link {
            color: black;
            &:hover {
                color: black;
            }
        }
    }
    .header__row {
        color: black;
        ul {
            padding: 0;
            li {
                list-style: none;
            }
        }
    }
}

.footer {
    background-color: #161616;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    .footer__list{
        list-style: none;
        padding: 0;
        .footer__item {
            .footer__link {
                text-decoration: none;
                color: #ffffff;
                .footer__img {
                    width: 50px;
                }
            }
        }
    }

    .footer__list-social {
        list-style: none;
        padding: 0;
        display: flex;
        .footer__item-social {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
        .footer__img {
            width: 50px;
        }
    }
}